.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-user-image {
  margin-top: 40px;
  height: 120px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.HealthProgram-header {
  background-color: whitesmoke;
  min-height: 21vmin;
  max-height: 60vmax;
  min-width: 60vmin;
  max-width: 80vmax;
  color: #282c34;
  margin-left:auto;
  margin-right:auto;
  border: 2px;
}

.HealthProgram-table {
  margin-left:auto;
  margin-right:auto;
}

.App-link {
  color: #61dafb;
}

.App-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
